*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    overflow-x: hidden;
}
.main{
    width: 90%;
    margin: 60px auto;
    font-family: sans-serif;
}
.header{
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header>ul>li{
    list-style: none;
    padding: 20px;
    margin: 20px;
    float: left;
    font-size: 20px;
    border-radius: 35px;
    cursor: pointer;
}
.header>ul>li>a{
    color: #e5e5e5;
    text-decoration: none;
    user-select: none;
}
.header>ul>li:active{
    background-color: rgb(255, 255, 255);
}

.header>ul>li:active a{
    color: #000000;
    font-weight: bold;
}

.header>ul>li.Active{
    background-color: rgba(255, 255, 255, 0.467);
}

.filter-condition{
    font-size: 20px;
    font-weight: bold;
}

.filter-condition select{
    width: 150px;
    padding: 0 0 0 10px;
    border: none;
    outline: none;
    font-weight: bold;
    color: #a2a2a2;
    background-color: black;
    cursor: pointer;
}

.filter-condition>span{
    color: antiquewhite;
}

.product-field{
    padding: 40px 20px;
}
.product-field>ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.product-field>ul>li{
    width: 23.4%;
    position: relative;
    list-style: none;
    transition: 0.5 all;
    background: rgb(214, 213, 213);
    border-radius: 20px;
    padding: 10px;
    margin: 200px 10px 35px 10px;
}



figure{
    background: #ffffff;
    padding: 5px;
    position: absolute;
    right: 0;
    bottom: 41%;
    width: 75%;
    height: 77%;
    border-radius: 50px 20px 0 20px;
    transform: skewY(40deg);
    overflow: hidden;
    box-shadow: 0 1px 0 #00000020, -1px 0 0 #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
}
figure>img{
    width: 76%;
    z-index: 1;
    transform: skewY(-40deg);
    padding: 25px 0 0 0; 
}

.detail{
    width: 100%;
    height: 100%;

}
.detail>.icon{
    width: 30%;
    height: 55%;
    padding: 20px 5px;
}





.icon>span{
    background-color: #00000030;
    display: flex;
    width: 50px;
    align-items: center;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    margin: 0 0 20px 5px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    justify-content: center;
}
.icon>span:hover{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}



.detail>strong{
    display: inherit;
    margin: 20px;
    font-size: 30px;
    letter-spacing: 2px;
    color: #203a43;
}
.detail>span{
    display: inline;
    width: 80%;
}
.detail>small{
    display: flex;
    padding: 8px 20px;
    margin: 15px;
    width: 29%;
    font-weight: bold;
    border-radius: 6px;
    border: 1px solid #999;
    cursor: pointer;
}
.detail>small:hover{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: #ffffff;
    border-color: cyan;
}


li>h4{
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 30px;
    color: #555;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
